@import '~node_modules/modern-normalize/modern-normalize.css';


body {
    font-family: $main-font;
    color: $dark-color;
    font-style: normal;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
}

.disable-scroll {
    height: 100%;
    overflow: hidden;
}