<div class="main">

    <ul>
        <li class="search-form-list__item" id="${id}" />
        <div class="search-form-list__thumbnail">
            <img src='' alt="poster" loading='lazy' />
        </div>
        <div class="search-form-list__info">
            <h3>${upperTitle}</h3>
            <p>${date}</p>
        </div>
        </li>
        <li class="search-form-list__item" id="25" />
        <div class="search-form-list__thumbnail">
            <img src='' alt="poster" loading='lazy' />
        </div>
        <div class="search-form-list__info">
            <h3>${upperTitle}</h3>
            <p>${date}</p>
        </div>
        </li>
        <li class="search-form-list__item" id="36" />
        <div class="search-form-list__thumbnail">
            <img src='' alt="poster" loading='lazy' />
        </div>
        <div class="search-form-list__info">
            <h3>${upperTitle}</h3>
            <p>${date}</p>
        </div>
        </li>
        <li class="search-form-list__item" id="65" />
        <div class="search-form-list__thumbnail">
            <img src='/' alt="poster" loading='lazy' />
        </div>
        <div class="search-form-list__info">
            <h3>${upperTitle}</h3>
            <p>${date}</p>
        </div>
        </li>
    </ul>
    <div class="container">
        <div class="movie-card"></div>
    </div>
</div>